//fonts
$fh1: 'Days One', sans-sarif;
$fh2: 'Poiret One', sans-sarif;
$font: 'Poiret One', sans-sarif;//'koblenz', sans-sarif;

//color
$cblue: #121F9F;
$clblue: #1D2DC7;
$cllblue: #253AFF;
$gray: #C4C4C4;
$black: #000000;
$white: #FFFFFF;
