.feedback {
    background: $cllblue;
    color: $white;

    .container {
        padding: 50px 20px 1px 20px;

        .feedback__profile {
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;


            .profile__photo {
                width: 20%;
            }

            .profile__text {
                width: 80%;
                height: 75px;
                font-size: .75em;
                padding: 10px 0 0 0;
                background: url('../images/“”.png') no-repeat top left;
                border-bottom: 1px solid $white;
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;

            margin: 0;
            padding: 1rem 0;

            list-style-type: none;

            li {
                margin: 0 0.25rem;
            }

            button {
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $white;
                padding: 0;
                text-indent: -9999px;
            }

            li.slick-active button {
                background: $white;
                transform: scale(1.4);
            }
        }

    }
}
