.footer {
    background: $cllblue;
    color: $white;

    .container {

        .footer__row {
            align-content: center;
            align-items: center;


            .footer__item {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                height: 150px;
                padding: 20px 0;

                .item__header {
                    font-weight: 700;
                    border-bottom: 2ps solid $white;
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                }

                .item__text {
                    font-size: 14px;

                    .icon-instagram:hover {
                      color: #517fa4;
                    }

                    .icon-facebook:hover {
                      color: #3b5998;
                    }

                    .icon-twitter:hover{
                      color: #00aced;
                    }
                }
                .item__text:first-child{
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content:space-between;
                    padding-right: 100px;
                    padding-top: 40px;
                    font-size: 20px;
                    border: none;
                }
            }
        }
    }
}
