.header {
    position: relative;
    
    .bg {
        width: 110%;
        height: 110%;
        top: 0;
        left: 0;
        background: url('../images/head.png') no-repeat center center;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }

    width: 100%;
    height: 100vh;
    //background: url('../images/head.png') no-repeat center center;
    background-size: cover;
    color: $white;

    .container {
        height: 100%;
        align-content: space-between;


        .header__top {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .top__logo {
                width: 24%;
            }

            .top__nav {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 33%;

                .nav__item {

                    .nav__link {
                        display: block;
                        text-align: center;
                        width: 100px;
                        padding-bottom: 10px;
                    }

                    .nav__link:hover {
                        padding-bottom: 8px;
                        border-bottom: 2px solid $cllblue;
                    }
                }
            }

            .top__info {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;


                .info__link {
                    display: block;
                    text-align: center;
                    padding: 0 10px 10px 0;

                    &:hover {
                        padding-bottom: 8px;
                        border-bottom: 2px solid $cllblue;
                    }
                }

                i {
                    color: $white;
                    padding: 0 10px;
                }
            }
        }

        .header__main {


            .main__headline {
                font: 400 72px $fh1;
                width: 150%
            }

            .main__desc {
                font: 400 48px $fh2;
                width: 150%;
                margin-top: 25px;
            }

            .main__text {
                margin: 75px 0 100px 0;
            }

            .main__button {}
        }

        .header__bottom {
            position: relative;
            width: 100%;

            .header__serv {
                @include pos($t: 90px, $l:0);
                position: relative;
                width: 100%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;

                .serv__item {
                    width: 18%;
                    height: 180px;
                    text-align: center;
                    background: $white;
                    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;

                    .item__logo {
                        height: 70px;
                        text-align: center;
                        width: 100px;
                        border-bottom: 2px solid $gray;
                        margin: 20px auto 0;
                        padding: 15px 0 20px;

                        i {
                            position: relative;
                            z-index: 1;
                        }

                        i:after {
                            content: '';
                            transform: translateX(-25%) translateY(-25%);
                            @include pos($t: 0, $l:0);
                            width: 40px;
                            height: 40px;
                            background: $cllblue;
                            border-radius: 50%;
                            z-index: -1;
                        }
                    }

                    .item__text {
                        display: block;
                        height: 110px;
                        padding: 15px 10px 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: $black;
                    }
                }
            }
        }
    }
}
